# Track all files via LFS
* filter=lfs diff=lfs merge=lfs -text

# Exclude git config files from LFS (must be readable by git itself)
.gitattributes !filter !diff !merge text eol=lf
.gitignore !filter !diff !merge text eol=lf
